@using FelicyaDB.Enums

@model FelicyaDB.Entities.Material

@{
    ViewData["Title"] = "CreateMaterial";
}

<h2>Opret nye materiale</h2>

<h4>Materialer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMaterial">
            <div class="form-group">
                <label asp-for="Type" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<MaterialTypeEnum>().Skip(1)">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MaterialSort" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="MaterialSort" asp-items="Html.GetEnumSelectList<WoodTypeEnum>().Skip(1)">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="MaterialSort" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="control-label" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfUnits" class="control-label"></label>
                <input asp-for="NumberOfUnits" class="form-control" />
                <span asp-validation-for="NumberOfUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disposal" class="control-label"></label>
                <input asp-for="Disposal" class="form-control" />
                <span asp-validation-for="Disposal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

